.custom-accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; /* Ensure there's space on the right for the icon */
}

.custom-accordion-button span {
  flex-grow: 1; /* Ensure the text takes up available space */
  text-align: left;
}

.custom-accordion-button::after {
  margin-left: auto;
}
